footer {
	position: fixed;
	bottom: 0;
	background-color: white;
	height: 60px;
	width: 100%;
	text-align: center;
	line-height: 30px;
	border-top: 1px solid #CCCCCC;
}
<<<<<<< HEAD

=======
>>>>>>> ebf10671df7d6ff3f0f9d63b3c607f003015ebd5
