<<<<<<< HEAD
der {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: white;
}

=======
/* header styls */

header {
    background: #f00;
    height: 70px;
    width: 100%;
  }
>>>>>>> ebf10671df7d6ff3f0f9d63b3c607f003015ebd5
